html {
  box-sizing: border-box;
}
body {
  background-color: #46b8da !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 10px 10px 50px grey;
}
